/*======================================
=            Normalize 3.0            =
======================================*/

img,
legend {
  border: 0;
}

legend,
td,
th,
ul {
  padding: 0;
}

body,
ul {
  margin: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: underline;
}

abbr [title] {
  border-bottom: 1px dotted;
}

b,
optgroup,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre,
textarea {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  outline-offset: -4px;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input [type='button'],
input [type='reset'],
input [type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button [disabled],
html input [disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input [type='checkbox'],
input [type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input [type='number']::-webkit-inner-spin-button,
input [type='number']::-webkit-outer-spin-button {
  height: auto;
}

input [type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input [type='search']::-webkit-search-cancel-button,
input [type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style-type: none;
}

/*=====  End of Normalize 3.0  ======*/

/*====================================
=            Base Styles            =
====================================*/

* {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #1c1b1b;
  outline-offset: 4px;
}

::selection {
  background: #1c1b1b;
  text-shadow: none;
  color: #fff;
}

body {
  font-family: 'Titillium Web', system, -apple-system, system-ui,
    BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  position: relative;
  margin: 0;
  background: #f8f8f9;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', system, -apple-system, system-ui,
    BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h1,
.h1-like {
  font-size: 64px;
  line-height: 1.3;
  margin: 32px 0 16px;
}

h2,
.h2-like {
  font-size: 48px;
  line-height: 1.3;
  margin: 32px 0 16px;
}

h3,
.h3-like {
  font-size: 32px;
  line-height: 1.3;
  margin: 24px 0 12px;
}

h4,
.h4-like {
  font-size: 22px;
  line-height: 1.3;
  margin: 24px 0 12px;
}

h5,
.h5-like {
  font-size: 20px;
  line-height: 1.2;
  margin: 16px 0 8px;
}

h6,
.h6-like {
  font-size: 16px;
  line-height: 1.2;
  margin: 16px 0 8px;
}

p {
  font-size: 18px;
  line-height: 1.3333;
  margin: 8px 0;
}

label {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.text--smaller,
.text--smaller > p {
  font-size: 12px;
  line-height: 1.2;
  margin: 8px 0 4px;
}

.text--small,
.text--small > p {
  font-size: 14px;
  line-height: 1.2;
  margin: 8px 0 4px;
}

.text--big,
.text--big > p {
  font-size: 24px;
  line-height: 1.2;
  margin: 24px 0 12px;
}

.text--bigger,
.text--bigger > p {
  font-size: 32px;
  line-height: 1.2;
  margin: 24px 0 12px;
}

.text--biggest,
.text--biggest > p {
  font-weight: 200;
  font-size: 64px;
  line-height: 1.2;
  margin: 32px 0 16px;
}

.text--middle {
  max-width: 800px;
  margin: 32px auto 0 auto;
  font-size: 40px;
  margin-bottom: 24px;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid #d9d9d9;
  width: 100%;
}

.hr--small {
  width: 80px;
  height: 0;
  border-top: 4px solid #333;
  margin: 22px auto 22px 0;
}

.hr--invert {
  border-color: #fff;
}

blockquote {
  margin: 40px auto;
  max-width: 800px;
}

blockquote > p {
  position: relative;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.3333;
}

blockquote > p:before {
  content: '\201C';
  position: absolute;
  top: 1px;
  right: 100%;
  margin-right: 2px;
}

blockquote > p:after {
  content: '\201D';
}

blockquote > cite {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  vertical-align: baseline;
  border: 0;
  font-style: normal;
  color: #c1c1c1;
}

.list {
  font-size: 18px;
  line-height: 1.75;
  padding-left: 24px;
  text-transform: uppercase;
}

.list > li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.list > li:before {
  content: '';
  vertical-align: middle;
  width: 12px;
  height: 2px;
  background-color: #333;
  margin-right: 8px;
  margin-left: -8px;
  display: inline-block;
}

/*=====  End of Base Styles  ======*/

/*==============================
=            Grids            =
==============================*/
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  margin: 32px auto;
}

/*=====  End of Grids  ======*/

/*================================
=            Buttons            =
================================*/

.button {
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;
  height: 40px;
  min-width: 160px;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  color: #1c1b1b;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  background: transparent;
  transition: 0.2s cubic-bezier(0.8, 0, 0.2, 1);
}

.button:hover {
  text-decoration: none;
}

.button > span {
  position: relative;
  z-index: 1;
}

.button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  background: #e6e6e6;
  transform: scaleY(0);
  transform-origin: center top;
  transition: transform 0.2s cubic-bezier(0.8, 0, 0.2, 1);
}

.button:hover::before {
  transform: scaleY(1);
  transform-origin: center bottom;
}

.button--arrow {
  border: none;
  min-width: 50px;
}

.button--arrow::before {
  display: none;
}

.button_icons {
  display: inline-block;
  position: relative;
  margin-left: 16px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}

.button_icons > svg {
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
}

.button_icons > svg:last-of-type {
  transform: translateX(-130%);
}

.button--arrow:hover > .button_icons > svg:first-of-type {
  transform: translateX(130%);
}

.button--arrow:hover > .button_icons > svg:last-of-type {
  transform: translateX(0%);
}

.button--arrow:first-of-type {
  padding-left: 0;
}

.button--arrow:last-of-type {
  padding-right: 0;
}

.button--arrow-reverse > .button_icons {
  transform: rotate(180deg);
}

.button--arrow-nav {
  border: 1px solid #e6e6e6;
  margin: 8px;
  padding: 0;
}

.button--arrow-nav > .button_icons {
  display: block;
  margin: 0;
}

.button--underline {
  border: none;
  height: 18px;
  padding: 0 8px;
  min-width: 80px;
  color: #dc5b21;
}

.button--underline::before {
  display: none;
}

.button--underline::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  right: 0;
  height: 4px;
  background: #dc5b21;
  transform: scaleX(0);
  transition: transform 0.2s ease-in;
  transform-origin: right center;
}

.button--underline:hover::after {
  transform: scale(1);
  transform-origin: left center;
}

.button--invert {
  color: #fff;
}

.button--invert:hover {
  color: #333;
}

.button--invert::before {
  background: #fff;
}

.button--invert.button--underline:hover {
  color: #fff;
}

.button--invert.button--underline::after {
  background: #fff;
}

.button--uppercase {
  text-transform: uppercase;
}

.button--large {
  font-size: 24px;
  height: 24px;
  padding: 0 16px;
}

.button--extra-large {
  font-size: 32px;
  height: 32px;
  padding: 0 16px;
}

.button--price {
  margin-left: 16px;
  color: #fff;
  background: #333;
  padding: 4px;
  font-size: 18px;
  font-weight: 600;
}

/*=====  End of Buttons  ======*/

/*==================================
=            Main Menu            =
==================================*/

.main-menu {
  display: flex;
  align-items: stretch;
  color: #1c1b1b;
}

.main-menu_item {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0 0;
  margin: 0 8px;
  border-top: 4px solid transparent;
  transition: 0.2s;
}

.main-menu_item:before {
  display: none;
}

.main-menu_item:first-of-type {
  margin-left: 0;
}

.main-menu_item:last-of-type {
  margin-right: 0;
}

.main-menu_item > a {
  color: inherit;
  text-decoration: none;
}

.main-menu_item:hover {
  color: #dc5b21;
}

.main-menu_item--active {
  color: #dc5b21;
  border-color: #dc5b21;
  transition: 0.3s;
}

/*=====  End of Main Menu  ======*/

/*==============================
=            Media            =
==============================*/

.media {
  display: block;
  width: 100%;
  position: relative;
}

.media_img {
  position: relative;
  overflow: hidden;
}

.media_img > img {
  max-width: 100%;
  z-index: 1;
  transform: scale(1);
  transition: 2s;
}

.media_overlay {
  opacity: 0;
  transition: 0.4s cubic-bezier(0.555, 0.205, 0.295, 0.975);
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media:hover > .media_overlay {
  opacity: 0.8;
}

.media:hover > .media_img > img {
  transform: scale(1.1);
}

.media_descr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  color: #fff;
  padding: 40px;
}

.media_descr > h3 {
  position: relative;
  z-index: 3;
}

.media:hover .media_descr--dark::after {
  opacity: 0;
}

.media_descr--dark::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: .5;
  z-index: 1;
  transition: .5s;
}

.media_price {
  position: absolute;
  top: 40px;
  left: 40px;
  color: #fff;
  background: #333;
  padding: 8px 16px;
  font-size: 32px;
  font-weight: 600;
  z-index: 2;
}

.media--dark {
  overflow: hidden;
}

.media--dark > .media_overlay {
  transform: translateY(60%);
  opacity: 0.8;
  transition: 0.2s cubic-bezier(0.555, 0.205, 0.295, 0.975);
}

.media--dark:hover > .media_overlay {
  transform: translateY(0);
}

/*=====  End of Media  ======*/

/*=================================
=            Featured            =
================================*/

.feature {
  padding: 32px;
  background: #fff;
}

.feature_header {
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 16px;
  font-weight: 600;
}

.feature_descr {
  font-size: 18px;
}

/*=====  End of Featured  ======*/

/*===============================
=            Blocks            =
===============================*/

.text-block {
  max-width: 800px;
  font-weight: 400;
  margin: 40px auto;
}

.text-block > h3 {
  font-size: 40px;
  margin-bottom: 24px;
  font-weight: 400;
}

.img-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

/*=====  End of Blocks  ======*/

/*=============================
=            Case            =
=============================*/

.case_item {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 32px;
}

.case_item > * {
  position: relative;
  color: #fff;
  z-index: 2;
}

.case_item > a {
  display: block;
}

.case_item:hover > .media_overlay {
  opacity: 0.8;
}

.case_item:hover > .case_overlay {
  opacity: 0.8;
}

.case_item:hover > .case_img > img {
  transform: scale(1.1);
}

.case_overlay {
  background-image: linear-gradient(to bottom left, transparent, #2473ab);
  transition: 0.4s cubic-bezier(0.555, 0.205, 0.295, 0.975);
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.case_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.case_img > img {
  max-width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 3s;
  position: absolute;
}

.case_btn {
  margin-top: 40px;
}

.case_inner {
  opacity: 0;
  transform: translate(0, -20px);
  transition: opacity 0.3s, transform 0.2s;
}

.case_item:hover > .case_inner {
  opacity: 1;
  transform: translate(0, 0);
}

/*=====  End of Case  ======*/

/*====================================
=            Case Simple            =
====================================*/

.case-simple {
  margin: 40px 0;
}

.case-simple_item {
  display: flex;
  overflow: hidden;
  margin: 80px 0;
}

.case-simple_img {
  position: relative;
  overflow: hidden;
  z-index: 1;
  flex: 1;
  width: 600px;
  max-height: 100%;
  margin-left: 32px;
}

.case-simple_img > img {
  transform: scale(1);
  transition: 2s;
}

.case-simple_overlay {
  opacity: 0;
  background-image: linear-gradient(to bottom left, transparent, #2473ab);
  transition: opacity 0.4s cubic-bezier(0.555, 0.205, 0.295, 0.975);
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

.case-simple_item:hover > .case-simple_img > .case-simple_overlay {
  opacity: 0.8;
}

.case-simple_item:hover > .case-simple_img > img {
  transform: scale(1.1);
}

.case-simple_inner {
  flex: 1;
  height: 100%;
  position: relative;
  padding: 16px 0;
}

.case-simple_inner > p {
  text-align: justify;
}

.case-simple_inner > h3 {
  margin-top: 0;
}

.case-simple_inner::before {
  content: ' ';
  position: absolute;
  height: 1px;
  width: 80%;
  right: 0;
  top: 0;
  background: #d9d9d9;
}

.case-simple_inner::after {
  bottom: 0;
}

/*=====  End of Case Simple  ======*/


/*=============================================
=            Case more            =
=============================================*/
.case-more {
  position: relative;
  overflow: hidden;
  margin: 32px 0;
  padding: 16px;
  background: #333;
}

.case-more_images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.case-more_images > img {
  position: relative;
  z-index: 1;
}

.case-more_overlay {
  position: absolute;
  background: #333;
  top: 0;
  left: 0;
  opacity: .8;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.case-more_action {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  z-index: 3;
  color: #fff;
  transform: translateX(-50%);
}

.case-more_action-title {
  align-self: flex-start;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 22px;
}

/*=====  End of Case more  ======*/


/*=================================
=            Carousel            =
=================================*/

.slider {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 600px;
  margin: 40px auto;
}

.slider--horizontal {
  display: flex;
  flex-flow: column;
}

.slider--high {
  height: 800px;
}

#slider-hero {
  margin: 0;
}

.slider_wrapper {
  overflow: hidden;
}

.slider_track {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
}

.slider_track.dragging {
  cursor: grabbing;
  user-select: none;
}

.slider_item {
  width: 100%;
  user-select: none;
  position: relative;
}

.slider_item > img {
  height: 100%;
}

.slider_arrows {
  display: flex;
  margin: 0 auto;
  user-select: none;
}

.slider_arrow {
  cursor: pointer;
}

.slider_bullets {
  user-select: none;
}

.slider--slider .slider_item {
  float: left;
  clear: none;
}

.slider--carousel.slider--vertical .slider_track {
  overflow: visible;
}

.slider--carousel .slider_item {
  float: left;
  clear: none;
}

.slider--slideshow .slider_wrapper {
  height: 100%;
}

.slider--slideshow .slider_item {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider--slideshow .slider_item.active {
  z-index: 1;
}

/*=====  End of Carousel  ======*/

/*==========================================
=            Carousel controls            =
==========================================*/

.slider_controls {
  width: 24px;
  margin: 32px 16px;
}

#slider_index {
  font-size: 16px;
  display: flex;
}

.slider_index-current {
  color: #333;
  font-weight: 600;
}

.slider_index-all {
  color: #c1c1c1;
}

.slider_progress {
  margin: 16px auto;
  width: 1px;
  height: calc(100% - 32px);
  position: relative;
  overflow: hidden;
  background: #c1c1c1;
}

.slider_progress--animate > .slider_progress-inner {
  animation: loading 0.5s cubic-bezier(0.75, 0.15, 0.35, 0.8);
}

.slider_progress--animate-reverse > .slider_progress-inner {
  animation: loading 0.5s cubic-bezier(0.75, 0.15, 0.35, 0.8) reverse;
}

.slider_progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: #333;
  transform: translate3d(0, -100%, 0);
  transform-origin: 100% 50%;
  transition: 0;
}

@keyframes loading {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  50% {
    transform: translate3d(0, 0%, 0);
  }

  100% {
    transform: translate3d(0, -100%, 0);
  }
}

/*=====  End of Carousel controls  ======*/

/*================================
=            Youtube            =
================================*/

.video-embed {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  margin: 40px auto;
  height: 0;
  background-size: cover;
}

.video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-embed_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333;
  opacity: 0.6;
  transition: opacity 0.4s cubic-bezier(0.75, 0.15, 0.35, 0.8);
  z-index: 3;
}

.video-embed:hover > .video-embed_overlay {
  opacity: 0.3;
}

.play-button {
  display: block;
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
}

.play-button:hover {
  text-decoration: none;
}

.play-button:hover > .play-button_icon {
  transform: translate(45px, 40px) translate3d(0, -35%, 0);
}

.play-button:hover::after {
  transform: translate3d(0, -15%, 0);
  transition: 0.4s cubic-bezier(0.75, 0.15, 0.35, 0.8);
}

.play-button::after {
  content: 'PLAY';
  font-size: 24px;
  font-weight: 600;
  color: #333;
  display: block;
  line-height: 120px;
  text-align: center;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 100%, 0);
  transition: 0.4s cubic-bezier(0.75, 0.15, 0.35, 0.8);
}

.play-button_icon {
  position: relative;
  overflow: hidden;
  display: block;
  transform: translate(45px, 40px) translate3d(0, 0%, 0);
  transition: 0.4s cubic-bezier(0.75, 0.15, 0.35, 0.8);
}

.play-button_icon > svg {
  width: 40px;
  height: 40px;
  overflow: hidden;
  fill: #333;
}

/*=====  End of Youtube  ======*/

/*=================================
=            Triggers            =
=================================*/
.triggers {
  display: flex;
  flex-wrap: nowrap;
  margin: 40px -16px;
}

.triggers_item {
  background: #fff;
  margin: 16px;
  padding: 32px;
  text-align: center;
  flex: 1;
}

.triggers_icon > svg {
  width: 80px;
  height: 80px;
  fill: #333;
}

.triggers_descr > a {
  text-decoration: underline;
}

/*=====  End of Triggers  ======*/

/*=======================================
=            Preview Slider            =
=======================================*/

#preview.slider {
  height: auto;
  width: 380px;
  margin: 0 auto;
}

#preview.slider > .slider_wrapper > .slider_track {
  margin-top: 160px;
}

#preview > .slider_wrapper {
  height: 615px;
  padding: 80px 0;
  background: url('../img/bag.png') top center no-repeat;
}

.pattern {
  width: 376px;
  height: 370px;
  background-position: 0 0;
  margin: 0 auto;
}

#preview > .slider_controls {
  width: auto;
  margin: 0 auto;
}

/*=====  End of Preview Slider  ======*/

/*===============================
=            Header            =
===============================*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  min-height: 54px;
  position: relative;
  z-index: 5;
}

.logo {
  width: 160px;
}

/*=====  End of Header  ======*/

/*=============================
=            Hero            =
=============================*/

.hero {
  position: relative;
  padding-top: 126px;
  margin-top: -126px;
  height: 600px;
  overflow: hidden;
}

.hero--short {
  height: 480px;
}

.hero--text {
  height: 480px;
  padding-top: 60px;
  margin-top: -60px;
}

.hero--short > .hero_content {
  margin-top: 120px;
}

.hero_content {
  position: relative;
  z-index: 3;
  margin-top: 160px;
}

.hero_content > .button--underline {
  padding: 0;
}

.hero_content > .text--biggest,
.hero_content > .text--big {
  margin-top: 0;
}

.hero_bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero_bg--light > img {
  height: 100%;
  width: 100%;
}

.hero_bg--light::before {
  content: '';
  background: #fff;
  opacity: 0.5;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#slider-hero .slider_item:after {
  content: '';
  background: #fff;
  opacity: 0.8;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

#slider-hero .slider_item > img {
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 5;
}

/*=====  End of Hero  ======*/

/*===============================
=            Footer            =
===============================*/
footer {
  background: #333;
  color: #fff;
  padding: 80px 0;
}

.footer_column {
  display: flex;
  align-items: flex-start;
}

.footer_column--bottom {
  margin-top: 60px;
}

.footer_logo,
.footer_copy {
  width: 400px;
}

.footer_copy {
  color: #656565;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1;
}

.footer_contact > .h5-like {
  margin-top: 0;
}

.footer_contact > .button--underline {
  padding: 0;
}

.footer_menu > .link {
  font-size: 14px;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 16px;
}

.link:hover {
  text-decoration: none;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  height: 2px;
  background: #333;
  transform: scaleX(0);
  transition: transform 0.2s cubic-bezier(0.8, 0, 0.2, 1);
  transform-origin: right center;
}

.link:hover::after {
  transform: scale(1);
  transform-origin: left center;
}

.link:first-of-type {
  margin-left: 0;
}

.link:last-of-type {
  margin-right: 0;
}

.link--invert::after {
  background: #fff;
}

.link--block {
  margin: 16px 0;
}

/*=====  End of Footer  ======*/

/*=================================
=            Profiles            =
=================================*/

.profiles_item {
  position: relative;
}

.profile_title {
  text-align: center;
  margin-top: -32px;
  font-weight: bold;
}

/*=====  End of Profiles  ======*/

/*=============================
=            Form            =
=============================*/
.contacts-form {
  margin-top: 120px;
  position: relative;
  overflow: hidden;
}

.contacts-form_inner {
  transform: translateY(0);
  transition: 0.2s cubic-bezier(0.8, 0, 0.2, 1);
}

.form_message {
  padding: 12px 16px;
  margin: 16px 0;
  opacity: 0;
  font-size: 18px;
  font-weight: 600;
  background: #ebebee;
  border: 4px solid #ebebee;
  text-align: center;
  transform: translateY(-100px);
  transition: 0.2s cubic-bezier(0.8, 0, 0.2, 1);
}

.form_message-success {
  border-color: #a5d6a7;
}

.form_message-error {
  border-color: #ffab91;
}

.form_message-default {
  border-color: #333;
}

.hiding {
  transform: translateY(-100px);
  opacity: 0;
  display: block;
}

.hidden {
  display: none;
}

.showing {
  transform: translateY(0);
  opacity: 1;
  display: block;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
}

.form_hidden {
  display: none;
}

.form_button {
  margin-top: 24px;
}

label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin: 32px 0 8px;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 40px;
  padding: 24px;
  margin: 0 2px;
  outline: 4px solid #fff;
  outline-offset: 0;
  transition: 0.125s cubic-bezier(0.75, 0.15, 0.35, 0.8);
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  outline: 4px solid #656565;
}

input:focus,
textarea:focus {
  outline-offset: -4px;
}

textarea {
  height: auto;
}

/*=====  End of Form  ======*/


/*=============================================
=            Full page preview            =
=============================================*/

.preview {
  margin: 40px auto;
  text-align: center;
}

.preview > img {
  display: inline;
}

/*=====  End of Full page preview  ======*/

