/* Diapers */
.diapers .logo {
  margin-top: 0;
}

.diapers .main-menu_wrapper {
  background: #33beb7;
}

.diapers .search_submit {
  background: #33beb7;
}

.diapers .cart-preview_info-count {
  background: #33beb7;
}

.diapers .block--top-border {
  border-top: 4px solid #33beb7;
}

.diapers .header {
  border-bottom: 3px solid #33beb7;
}

.diapers .subcategories_item>input[type="radio"]:checked + label {
  border: 4px solid #33beb7;
}

.diapers .list-styled>li:before {
  background: #33beb7;
}

.diapers .loyalty_link-text {
  color: #33beb7;
}

.diapers .loyalty_link-text:hover {
  color: #20827d;
}

.diapers .btn--cart {
  background: #33beb7;
}

.diapers .btn--cart:hover, .btn--cart:focus {
  background: #20827d;
}

.diapers .product_availability {
  color: #33beb7;
}

.diapers .triggers_item-icon>svg {
  fill: #33beb7;
}

.diapers .input-number-more {
  color: #33beb7;
}

.diapers .radio-default>input[type="radio"]:checked + label {
  border-color: #33beb7;
}

.diapers .checkbox>input[type="checkbox"]:checked + label::before {
  border: 2px solid #33beb7;
}

.diapers .checkbox>input[type="checkbox"]:not(:checked) + label::after, .checkbox>input[type="checkbox"]:checked + label::after {
  border-color: #33beb7;
}

.diapers .tabs_nav>.tabs_item--active {
  background-color: #33beb7;
}

.diapers .upsale_more-link {
  color: #33beb7;
}

.diapers .upsale_more-link:hover {
  color: #20827d;
}

.diapers .highlight--green {
  color: #33beb7;
}

.diapers .subscribe_submit {
  background: #33beb7;
}

.diapers .contacts_phone>svg, .diapers .contacts_adress>svg {
  fill: #33beb7;
}

.diapers .copyrights {
  background: #33beb7;
}

.diapers .footer {
  border-top: 3px solid #33beb7;
}

.diapers .radio-color>input[type="radio"]:checked + label {
  border-color: #33beb7;
}

.diapers .subcategories_item>label {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.diapers .cart--popup {
  border-top: 2px solid #33beb7;
}

.diapers .cart-products_item-option--short {
  color: #33beb7;
}

.diapers .cart-products_item-quantity {
  color: #33beb7;
}

.diapers .cart_products-delete:hover, .cart_products-delete:focus {
  color: #33beb7;
}

.diapers .modal-content {
  border: 1px solid #33beb7;
}

.diapers .cart_products-delete:hover>svg {
  fill: #33beb7;
}


/* Droplet */
.absorb-tab {
  float: right;
}

.absorb_drop {
  display: inline-block;
  background-color: #33beb7;
  width: 25px;
  height: 25px;
  margin-left: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 90px;
  transform: rotate(45deg);
}

.absorb_drop--empty {
  background-color: #eaeaea;
}

.absorb_drop--large {
  width: 35px;
  height: 35px;
}

.absorbent-prop {
  clear: both;
  height: 45px;
  margin-top: 15px;
}

.absorbent_descr {
  width: 90px;
  float: left;
  font-size: 18px;
  color: #33beb7;
  text-decoration: underline;
}

.absorbent_value {
  float: left;
}
/* Product Under Gallery properties */
.product_under {
  border: 1px solid #d6d6d6;
}

.absorbent {
  padding: 16px;
}

.absorbent_title {
  font-size: 18px;
  color: #272727;
  padding-bottom: 10px;
}

.product_under-props {
  border-top: 1px solid #d6d6d6;
  padding: 30px;
}

.prop_icon {
  display: inline-block;
  padding: 10px;
}