/* Owl Carousel 2.0 */
.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel{display:none;width:100%;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;transform:translate3d(0,0,0)}.owl-carousel .owl-controls .owl-dot,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-nav .owl-prev{cursor:pointer;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel .owl-refresh .owl-item{display:none}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;user-select:none}.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel.owl-text-select-on .owl-item{user-select:auto}.owl-carousel .owl-grab{cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn,.owl-nav.disabled{display:none}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;backface-visibility:hidden;transition:scale .1s ease}.owl-carousel .owl-video-play-icon:hover{transition:scale(1.3,1.3)}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1}
.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}
/* Owl customized */
.owl-nav{width:100%;position:absolute;z-index:9;top:25%;left:0}.owl-theme .owl-nav [class*=owl-]{position:absolute;cursor:pointer;display:inline-block;border:solid #2a6c8e;border-width:0 4px 4px 0;padding:3px;width:16px;height:16px;text-indent:-9999px;transition:.3s}.owl-theme .owl-nav [class*=owl-]:hover{border:solid #194358;border-width:0 4px 4px 0}.owl-prev{left:16px;transform:rotate(-225deg)}.owl-next{right:16px;transform:rotate(-45deg)}

/* Normalize 3.0 */
img,legend{border:0}legend,td,th,ul{padding:0}body,ul{margin:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent;text-decoration:none}a:active,a:hover{outline:0;text-decoration:underline}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{vertical-align:middle}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}ul{list-style-type:none}.list-styled>li{display:flex;align-items:center;padding:4px 0}.list-styled>li:before{content:"";display:block;min-width:8px;min-height:8px;background:#a9d860;margin-right:16px}

/* Slick 1.6 */
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

/* Base Styles */
body {
  font-family: system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  background: #eaeaea;
}

h1,h2,h3,h4,h5,h6 {
  font-family: system , -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
  line-height: 1.5;
  margin: 8px 0;
}

.container {
  max-width: 736px;
  margin: 0 auto;
  box-sizing: border-box;
}

label {
  cursor: pointer;
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0;
  border-top: 1px solid #d6d6d6;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.collapse_content-wrapper {
  display: block;
  align-items: center;
}

.collapse_content {
  padding: 8px 0;
}

.hr--notop {
  margin-top: 0;
}

.hr--product {
  border-top: 1px solid #d6d6d6;
}

.hr--product::before, .hr--product::after {
  content: " ";
  display: table;
}

.hr--product::after {
  clear: both;
}

.hr--apple {
  border-top: 0;
  background: url('../img/icon/hr.png') center center no-repeat;
  width: 115px;
  height: 40px;
  margin: 0 auto 16px;
}

.block-links {
  background: #fff;
  border-top: 1px solid #d3d3d3;
  padding: 8px;
}

.block-links_content {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  margin: 0 -8px;
}

.block-links_col {
  flex: 1 1 0%;
  padding: 0 8px 16px;
  box-sizing: border-box;
}

.block {
  background: #fff;
  padding: 8px;
  margin: 8px auto;
}

.block--top-border {
  border-top: 4px solid #a9d860;
}

.block--loyalty {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.block--product {
  margin: 8px auto 0;
}

.block--header-img {
  padding: 0;
  margin: 0 0 8px 0;
}

.block--nomargin {
  margin: 0;
}

.block--nopadding {
  padding: 0;
}

.block--cross {
  margin: 0;
  background: #657fc9;
}

.block--cross2 {
  background: #fff;
  margin-bottom: 16px;
  padding: 8px;
}

.block--subcolor {
  background: #a9d860;
}

.block--highlight {
  background: #657fc9;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.block--light {
  background: #fff;
  padding: 8px;
}

.block--light .block_text, .block--light .h2--subheader-s {
  color: #333;
}

.block--light .block_text {
  font-size: 18px;
}

.block--subheader {
  background: #657fc9;
  padding: 8px;
  margin: 0;
  margin-bottom: 8px;
}

.block--green {
  background: #a9d860;
  color: #fff;
  padding: 8px;
}

.block--lp {
  padding: 0;
  margin: 8px 0;
}

.block--nobg {
  padding: 0 8px;
  background: transparent;
}

.h1, .h2, .h3, h1, h2, h3 {
  color: #194358;
}

/*Media */
.media {
  padding: 8px;
  display: flex;
  flex-flow: column;
  background: transparent!important;
}

.media>.btn--lp {
  margin: 0;
  display: table;
}

.media_descr {
  padding: 8px 0;
}

/* Header */
.header {
  background: #fff;
  border-bottom: 3px solid #a9d860;
}

.logo>a>img {
  max-width: 180px;
}

.main-menu_wrapper {
  background: #657fc9;
}

.main-menu_item {
  margin: 0 8px;
  padding: 8px 0;
  list-style: none;
  display: block;
}

.main-menu_item:not(:last-child) {
  border-bottom: 1px solid #d3d3d3;
}

.main-menu_item>a {
  color: #333;
  display: block;
  transition: 0.3s;
}

.categories_item {
  color: #333;
  margin: 0 8px;
  padding: 8px 0;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.categories_item:hover {
  color: #333;
}

.categories_item:not(:last-child) {
  border-bottom: 1px solid #d3d3d3;
}

.header_block {
  display: flex;
  height: auto;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
}

.search--full>form {
  width: 100%;
}

.search_form {
  display: flex;
  margin: 0;
  box-sizing: border-box;
  flex-flow: row nowrap;
}

.search_category {
  display: inline-block;
  padding: 4px;
  width: 110px;
  border: 1px solid #d6d6d6;
  color: #4e4e4e;
  font-size: 14px;
  box-sizing: content-box;
  outline: none;
  background: #ebebeb;
}

.search_input {
  display: inline-block;
  width: 140px;
  padding: 1px 4px;
  border: 1px solid #d6d6d6;
  border-right: none;
  border-left: none;
  box-sizing: content-box;
}

.search_input:focus {
  border: 1px solid #a9d860;
  border-right: none;
  border-left: none;
  outline: none;
}

.search--full .search_input {
  width: 80%;
  border: none;
  color: #333;
}

.search_submit {
  display: inline-block;
  background: #a9d860;
  width: 22px;
  border: none;
  text-transform: uppercase;
  box-sizing: content-box;
  transition: .3s;
}

.search_submit:hover {
  background: #76A52D;
}

.search_submit>svg {
  fill: #fff;
  width: 16px;
  height: 16px;
}

.search--full .search_submit {
  width: 20%;
  background: #2a6c8e;
  transition: .3s;
}

.search--full .search_submit:hover {
  background: #194358;
}

.search_options>.checkbox {
  padding: 8px 0 0 0;
}

.cart--popup {
  display: none;
}

.header_cart {
  margin: 0 16px 0 auto;
}

.cart-preview {
  padding: 4px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: .3s;
}

.cart-preview:hover, .cart-preview:focus {
  border-color: #a9d860;
}

.mobile-menu_button {
  padding: 4px;
  background-color: transparent;
  height: 100%;
  border: 1px solid #d3d3d3;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: .3s;
}

.mobile-menu_button:hover, .mobile-menu_button:focus {
  border-color: #a9d860;
}

.hr--header {
  height: 1px;
  background: #d6d6d6;
  border-top: none;
  margin-top: 0;
  margin-bottom: 0;
}

.cart-preview_info-count {
  color: #fff;
  padding: 0px 4px;
  border-radius: 10px;
  background: #a9d860;
  text-align: center;
  display: block;
  user-select: none;
}

.cart-preview_info-title {
  color: #4e4e4e;
  user-select: none;
}

.cart-preview_icon {
  width: 16px;
  height: 16px;
  padding-right: 3px;
}

.cart-preview_icon>svg {
  fill: #333;
  width: 16px;
  height: 16px;
}

.cart-preview_info {
  display: inline-block;
}

.user {
  width: auto;
  display: flex;
  align-items: center;
}

.user_pic {
  display: inline-block;
  padding-right: 8px;
  width: 16px;
  height: 16px;
}

.user_pic>svg {
  fill: #333;
  width: 16px;
  height: 16px;
}

.user_options {
  display: inline-block;
}

.user_options>a {
  color: #4e4e4e;
  display: inline-block;
  font-size: 14px;
  user-select: none;
  padding-right: 4px;
  border-right: 1px solid #d3d3d3;
}

.user_options>a:last-child {
  border-right: none;
}

.header-img {
  text-align: center;
  overflow: hidden;
}

.header-img>img {
  max-width: 100%;
}

.subheader_block-img {
  padding: 0;
  text-align: center;
}

.block_text {
  color: #fff;
  padding-top: 8px;
}

.block_text--medium {
  font-size: 16px!important;
}


/* Breadcrumbs */
.breadcrumbs {
  background: #d3d3d3;
  margin-bottom: 8px;
  padding: 0 8px;
}

.breadcrumbs_link {
  color: #898989;
  padding: 8px 0;
  display: inline-block;
}

.breadcrumbs_link::after {
  content: '/';
  display: inline-block;
  padding-left: 4px;
  color: #898989;
}

.breadcrumbs_link--active {
  color: #383838;
}

.breadcrumbs_link--active:hover {
  color: #383838;
}

/* Pagination */
.pagination {
  background: #eaeaea;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.pagination_arrow {
  background: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
  text-align: center;
  display: inline-block;
}

.pagination_page-number, .pagination_dots {
  font-size: 18px;
  color: #333333;
  padding: 0 5px;
}

.pagination_page-number--current {
  color: #a9d860;
}

/*Titles*/
.title {
  line-height: 1.2;
  margin: 8px;
  padding: 0;
  color: #04344e;
  font-size: 20px;
  font-weight: normal;
}

.title--s {
  color: #194358;
  font-size: 14px;
  margin-bottom: 8px;
}

.title--s>a {
  color: #194358;
}

.title--m {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

.title--sm {
  font-size: 20px;
  margin-bottom: 8px;
}

.title--blog {
  padding: 16px 16px 0 16px;
}

.title--ml {
  font-size: 22px;
}

.title--l {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
}

.title--blocked {
  margin: 8px 0;
}

.title--nopad {
  margin-top: 0;
  margin-bottom: 0;
}


.title--light {
  color: #fff;
}

.title--center {
  text-align: center;
}

.title--block {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  color: #04344e;
}

/* Shop By */
.cards {
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  flex-flow: row wrap;
}

.cards_item {
  max-width: 50%;
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 0 8px 8px;
}

.img-card {
  border-top: 5px solid #a9d860;
  display: block;
  position: relative;
  transition: .3s;
}

.img-card:hover {
  border-top: 5px solid #fff;
}

.img-card:hover>.img-card_title {
  text-decoration: underline;
}

.img-card_title {
  color: #fff;
  font-size: 20px;
  position: absolute;
  line-height: 1;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  transition: .3s;
}

.img-card--s>.img-card_title {
  transform: none;
  top: 0;
  left: 0;
  margin: 8px;
  font-size: 18px;
  text-align: left;
  text-transform: none;
}

.img-card_img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.img-card--s>.img-card_img {
  height: 130px;
  min-height: 130px;
}

.img-card_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(101, 127, 201, 0.6);
}

/* Product Filter */
.tabs_content--products {
  padding: 0!important;
}

.product-filter {
  display: flex;
  background: #f8f8f8;
}

.product-filter_item {
  box-sizing: border-box;
  width: 50%;
  border-right: 1px solid #d3d3d3;
}

.product-filter_item:last-child {
  border-right: none;
}

.product-filter_header {
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #a9d860;
  user-select: none;
}

.product-filter_header > .title {
  margin: 16px 0 8px;
  cursor: pointer;
  user-select: none;
}

.product-filter_list {
  display: none;
}

.product-filter_title {
  font-size: 14px;
  text-align: center;
}

.select {
  padding: 8px 12px;
}

.select:focus, .select:hover {
  outline-color: #a9d860;
}

/* Products List */
.products {
  margin-bottom: 16px;
}

.products--full {
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

.products-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.products-list--border3>.product:nth-child(2n) {
  border-right: none;
}

.products-list--border3>.product:nth-last-child(-n+2) {
  border-bottom: none;
}

.products-list--border4>.product:nth-child(2n) {
  border-right: none;
}

.products-list--border4>.product:nth-last-child(-n+2) {
  border-bottom: none;
}

.products-list--filter {
  width: 100%;
}

.products-list>.product {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 50%;
  flex: 1 1 50%;
}

.products-list--4>.product {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 50%;
  flex: 1 1 50%;
}
/* Products */
.product {
  align-content: flex-start;
  padding: 8px;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.product_image {
  position: relative;
}

.product_image>a>img {
  max-width: 100%;
  border: 1px solid #d3d3d3;
}

.product_title {
  padding-top: 4px;
  font-size: 14px;
}

.product_title>a {
  color: #194358;
}

.product_price {
  font-weight: bold;
  font-size: 16px;
}

.product_price--l {
  font-size: 32px;
  font-weight: bold;
  color: #194358;
  clear: both;
}

.product_attributes {
  margin-top: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Loyalty Program Block */
.loyalty {
  flex: 1;
  padding-bottom: 16px;
}

.loyalty_image {
  float: left;
  padding-right: 8px;
}

.loyalty_title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #04344e;
}

.loyalty_link {
  padding-top: 4px;
  cursor: pointer;
}

.loyalty_link-text {
  color: #a9d860;
  font-size: 14px;
  text-decoration: underline;
  transition: 0.3s;
}

.loyalty_link-text:hover {
  color: #76A52D;
}

.loyalty_link-icon {
  padding: 0 4px;
}


/* Product Top Category Picker */
.subcategories {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.subcategories_item {
  margin: 0 4px;
}

.subcategories_item:first-child {
  margin-left: 0;
}

.subcategories_item:last-child {
  margin-right: 0;
}

.subcategories_item>input[type="radio"] {
  display: none;
}

.subcategories_item>label {
  display: block;
  background: #eaeaea;
  border: 4px solid #fff;
  box-sizing: content-box;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: 0.5s;
}

.subcategories_item>input[type="radio"]:checked + label {
  border: 4px solid #a9d860;
}

/*Product Full Page*/
.product-full {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.product-full_additional {
  width: 100%;
}

.product-full_description {
  width: 100%;
}

.product_title--l {
  font-size: 18px;
  color: #194358;
}

.product_price-piece {
  font-size: 14px;
}

.product_availability {
  margin-top: 8px;
  font-size: 14px;
  color: #a9d860;
  text-decoration: underline;
}

.product_actions {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.product-full_label {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: #fff;
  top: 16px;
  font-size: 12px;
  left: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: url('../img/icon/new-m.png') 50% 50% no-repeat;
}

.options_bottom {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  background: #f7f7f7;
  padding: 8px;
  margin-bottom: 8px;
}

.triggers {
  display: flex;
  flex-flow: column;
  margin: 0 auto 0 0;
}

.triggers_item {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.triggers_item-icon {
  display: inline-block;
  padding-right: 8px;
}

.triggers_item-icon>svg {
  width: 16px;
  height: 16px;
  fill: #a9d860;
}

.triggers_item-descr {
  display: inline-block;
}

.security {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.security_title {
  padding-right: 16px;
}

/* Product Rating Stars */
.rating_star {
  margin-right: 4px;
  display: inline-block;
  cursor: pointer;
}

.rating_star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100%;
}

.rating_star-svg path {
  stroke-linejoin: round;
}

.rating_wrapper {
  display: flex;
  flex-flow: column;
  padding: 8px 0;
}

.rating_descr {
  margin: 4px 0 0;
}

/* Product Special Prices */
.special {
  display: flex;
  box-sizing: border-box;
  flex-flow: nowrap;
  text-align: center;
  margin-top: 16px;
}

.special_item {
  display: flex;
  flex-flow: column;
  flex: 1 1 25%;
}

.special_title {
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
}

.special_descr {
  font-weight: bold;
  font-size: 18px;
  padding: 8px 0;
  height: 100%;
}

.special_shipping {
  font-size: 12px;
  font-weight: normal;
}

.special_item:nth-child(1)>.special_title {
  background: #86bf29;
}

.special_item:nth-child(1)>.special_descr {
  color: #669b14;
  background: #cbeabb;
}

.special_item:nth-child(2)>.special_title {
  background: #0fa1bf;
}

.special_item:nth-child(2)>.special_descr {
  color: #194358;
  background: #a8e2ee;
}

.special_item:nth-child(3)>.special_title {
  background: #fec028;
}

.special_item:nth-child(3)>.special_descr {
  color: #a06021;
  background: #f0dcaa;
}

.special_item:nth-child(4)>.special_title {
  background: #f0404b;
}

.special_item:nth-child(4)>.special_descr {
  color: #9c242c;
  background: #f8a1a7;
}


/* Product Options */
.options_item {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  padding: 8px 0;
}

.options_item:first-child {
  padding-top: 0;
}

.options_item:last-child {
  padding-bottom: 0;
}

.options_item--quantity {
  align-items: flex-start;
}

.options_title {
  width: 80px;
  min-width: 80px;
  margin: 0px 8px 8px 0;
}

.options_variants>.radio-compression,
.options_variants>.radio-color,
.options_variants>.checkbox {
  margin-left: 0;
  padding-left: 0;
}

/* Radio Compression Input */
.radio-compression {
  display: inline-block;
  margin: 0 4px;
}

.radio-compression>input[type="radio"] {
  display: none;
}

.radio-compression>label {
  display: block;
  background: #eaeaea;
  border: 4px solid;
  border-color: #fff;
  box-sizing: content-box;
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 12px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
}

.radio-compression--20-30 {
  color: #9cca60;
}

.radio-compression>input[type="radio"]:checked + .radio-compression--20-30 {
  border-color: #9cca60;
}

.radio-compression--30-40 {
  color: #0fa1bf;
}

.radio-compression>input[type="radio"]:checked + .radio-compression--30-40 {
  border-color: #0fa1bf;
}

.radio-compression--40-50 {
  color: #fec028;
}

.radio-compression>input[type="radio"]:checked + .radio-compression--40-50 {
  border-color: #fec028;
}

.radio-compression-wrapper {
  display: block;
  line-height: 1;
  position: absolute;
  user-select: none;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.radio-compression_span {
  font-size: 10px;
  font-weight: normal;
  display: block;
}

/* Custom Radio Input */
.radio-default {
  display: inline-block;
  margin: 0 4px 8px 0;
}

.radio-default>input[type="radio"] {
  display: none;
}

.radio-default>label {
  display: block;
  background: #fff;
  border: 2px solid;
  border-color: #d3d3d3;
  box-sizing: content-box;
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  padding: 4px 8px;
  user-select: none;
  text-align: center;
  transition: border 0.3s;
}

.radio-default>input[type="radio"]:checked + label {
  border-color: #a9d860;
}

.radio-color {
  display: inline-block;
  margin: 0 4px;
}

.radio-color>input[type="radio"] {
  display: none;
}

.radio-color>label {
  display: block;
  border: 2px solid;
  border-color: #fff;
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  margin: 0;
  transition: border 0.3s;
}

.radio-color>input[type="radio"]:checked + label {
  border-color: #a9d860;
}

.radio-color--red {
  background: red;
}

.radio-color--orange {
  background: orange;
}

.radio-color--blue {
  background: blue;
}



/* Custom Checkbox */
.checkbox {
  display: inline-block;
  padding: 0 10px 0 5px;
}

.checkbox>input[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.checkbox>input[type="checkbox"]:not(:checked) + label,
.checkbox>input[type="checkbox"]:checked + label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 36px;
  line-height: 24px;
  min-height: 30px;
  cursor: pointer;
  font-weight: normal;
  user-select: none;
}

.checkbox>input[type="checkbox"]:not(:checked) + label:before,
.checkbox>input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 2px solid #d3d3d3;
  background: #fff;
}

.checkbox>input[type="checkbox"]:checked + label:before {
  border: 2px solid #a9d860;
}

.checkbox>input[type="checkbox"]:not(:checked) + label:after,
.checkbox>input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: transparent;
  width: 12px;
  height: 8px;
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #a9d860;
  transform: rotate(-45deg);
  transition: all .2s;
}

.checkbox>input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: rotate(-45deg) scale(0);
}

.checkbox>input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: rotate(-45deg) scale(1);
}

.checkbox>input[type="checkbox"]:disabled:not(:checked) + label:before,
.checkbox>input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.checkbox>input[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

.checkbox>input[type="checkbox"]:disabled + label {
  color: #aaa;
}

.checkbox-default--filter>input[type="checkbox"]:not(:checked) + label:before,
.checkbox-default--filter>input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
}

.checkbox-default--filter>input[type="checkbox"]:not(:checked) + label:after,
.checkbox-default--filter>input[type="checkbox"]:checked + label:after {
  background-color: #f8f8f8;
}


/* Quantity Input */
.quantity-spinner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.input-number-less, .input-number-more {
  border: 1px solid #d3d3d3;
  height: 30px;
  padding: 0 6px;
  cursor: pointer;
}

.icon-minus, .icon-plus {
  position: relative;
  width: 16px;
  height: 16px;
  margin-top: 6px;
  transform: translate(0, 50%);
}

.icon-minus::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #bb2f38;
}

.icon-plus::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #76A52D;
}

.icon-plus::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #76A52D;
  transform: rotate(-90deg);
}

.product_quantity {
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-right: 0;
  border-left: 0;
  width: 80px;
  line-height: 30px;
  padding: 0 10px;
  transition: .3s;
}

.product_quantity-total {
  margin-top: 8px;
}

.product_quantity:focus {
  outline: none;
  border: 1px solid #76A52D;
}

.input-number-box {
  position: relative;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 8px 16px;
  margin: 4px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: #fff;
  background: #2a6c8e;
  transition: 0.3s;
}

.btn:first-of-type {
  margin-left: 0;
}

.btn:last-of-type {
  margin-right: 0;
}

.btn--one {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.btn:hover, .btn:focus {
  color: #fff;
  background: #194358;
  text-decoration: none;
}

.btn--buy {
  background: #f0404b;
}

.btn--buy:hover, .btn--buy:focus {
  background: #bb2f38;
}

.btn--cart {
  background: #a9d860;
  margin-bottom: 0;
}

.btn--cart:hover, .btn--cart:focus {
  background: #76A52D;
}

.btn--card {
  margin-bottom: 5px;
}

.btn--full {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

.btn--half {
  display: block;
  width: 100%;
}

.btn--flipper {
  background: #657fc9;
}

.btn--flipper:hover {
  background: #fff;
  color: #657fc9;
}

.btn--l {
  padding: 10px 20px;
  font-size: 18px;
}

/*Collapse*/
.collapse_btn {
  background: #657fc9;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  transition: .3s;
  outline: none;
}

.collapse_pane {
  display: none;
}

.collapse {
  margin: 8px 0;
  padding: 0;
}

.collapse:first-child {
  margin-top: 0;
}

.collapse:last-child {
  margin-bottom: 0;
}

.collapse_btn--is-open {
  background: #a9d860;
}

.collapse_btn--is-open>.collapse_icon--last>.icon-arrow {
  transform: rotate(45deg);
}

.collapse_icon {
  width: 20px;
  padding: 0;
  display: inline-flex;
  flex: 0;
}

.collapse_text {
  padding: 0;
  text-align: left;
}

.collapse_icon>svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.collapse_icon--first {
  margin-right: 8px;
}

.collapse_icon--last {
  margin-left: auto;
}

.icon-arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 4px;
  height: 4px;
  transition: .3s;
  transform: rotate(-45deg);
}

.icon-arrow--left {
  transform: rotate(135deg);
}

.icon-arrow--dark {
  border: solid #04344e;
  border-width: 0 3px 3px 0;
}

.icon-arrow--up {
  transform: rotate(225deg);
}

.icon-arrow--down {
  transform: rotate(45deg);
}

.button--info {
  font-size: 14px;
  padding: 0 8px;
  background: #a9d860;
  line-height: 30px;
  margin: 8px;
  transition: .3s;
}

.button--info:hover {
  background: #81a549;
  color: #fff;
}


/* Social */
.social {
  display: flex;
  align-content: space-between;
  margin: 16px 0;
}

.social--product {
  margin: 0;
}

.social--product>.social_item {
  border: 1px solid #d3d3d3;
  background: #fff;
}

.social--product>.social_item>svg {
  fill: #194358;
}

.social--product>.social_item:hover>svg {
  fill: #fff;
}

.social_item {
  margin: 4px;
  height: 28px;
  display: block;
  transition: .3s;
  cursor: pointer;
}

.social_item:hover {
  background: #194358;
}

.social_item:first-child {
  margin-left: 0;
}

.social_item:last-child {
  margin-right: 0;
}

.social_item>svg {
  width: 16px;
  height: 16px;
  padding: 6px;
  fill: #fff;
  transition: .3s;
}

.social_item--fb {
  background: #3b5999;
}

.social_item--pi {
  background: #f13434;
}

.social_item--tw {
  background: #00bbf5;
}

.social_item--yt {
  background: #fe0000;
}

.social_item--in {
  background: #1385c4;
}

.social_item--border {
  border: 1px solid #d3d3d3;
  background: #fff;
}


/* Tabs */
.tabs_content {
  background: #fff;
  padding: 8px;
}

.tabs_item {
  font-size: 14px;
  position: relative;
  text-align: center;
  margin: 4px;
  padding: 4px 8px;
  background: #fff;
  color: #194358;
  cursor: pointer;
  border: 1px solid #d3d3d3;
  transition: 0.2s;
  user-select: none;
}

.tabs_item--active, .tabs_item:focus {
  color: #fff;
  background: #a9d860;
}

.tabs_nav {
  margin: 0;
  list-style: none;
  border-bottom: none;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  flex-flow: row wrap;
}

.nav-tabs--chevron {
  margin-bottom: 2px!important;
}

.nav-tabs--chevron>.tabs_item {
  border-bottom: 2px solid #a9d860;
}

.nav-tabs--chevron>.tabs_item::after {
  display: none;
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  margin-bottom: 5px;
  left: 50%;
  bottom: 0;
  background: #a9d860;
  transform: rotate(-45deg);
  transition: .3s;
  z-index: -2;
}

.nav-tabs--chevron>.tabs_item--active::after {
  margin-bottom: -9px;
}

.tabs_pane {
  display: none;
}

.tabs_pane>img {
  max-width: 100%;
}

.tabs_pane--active {
  display: inherit;
}

/* Upsale */
.upsale-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 16px;
}

.upsale {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.accesories_item {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.accesories_item-title > a {
  color: #194358;
}

.accesories_item-descr {
  width: 80%;
}

.accesories_item-price {
  width: calc(20% - 10px);
  text-align: right;
  font-weight: bold;
}

.accesories_item, .configurations_item {
  padding: 10px 0;
}

.accesories_item:not(:last-child), .configurations_item:not(:last-child) {
  border-bottom: 1px solid #d3d3d3;
  padding: 10px 0;
}

.upsale_more-link {
  display: block;
  text-align: right;
  color: #a9d860;
  transition: 0.3s;
}

.upsale_more-link:hover {
  color: #76A52D;
}

.configurations_item-descr > a {
  color: #194358;
}

.configurations_item-sku {
  font-weight: bold;
  float: left;
  padding-right: 50px;
}


/* Products List */
.block--product-list {
  padding: 8px 0;
}

.product-card {
  padding: 8px;
  border-bottom: 1px solid #d3d3d3;
}

.product-card:first-child {
  padding-top: 0;
}

.product-card:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.product-card_inner {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.product-card_image {
  min-width: 250px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  border: 1px solid #d3d3d3;
}

.product-card_image img {
  max-width: 100%;
}

.product-card_title>a {
  display: block;
  font-size: 16px;
  padding: 8px 0;
  color: #194358;
}

.product-card_descr {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 0;
}

.product-card_label {
  position: absolute;
  z-index: 99;
  text-align: center;
  font-size: 12px;
  color: #fff;
  top: 20px;
  left: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: url('../img/icon/new-m.png') 50% 50% no-repeat;
}

.product-card_price {
  font-size: 18px;
  font-weight: bold;
  color: #194358;
}

.product-card_actions>.btn {
  margin-bottom: 0;
}

/* Cart */
.cart {
  background: #fff;
}

.cart-products_item {
  padding: 8px 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.cart-products_item:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}

.cart-products_item-info {
  padding: 0 8px;
  display: flex;
  flex-flow: column;
  flex: 1;
}

.cart-products_item-price {
  display: flex;
  padding: 8px;
  flex-flow: column;
  vertical-align: middle;
}

.cart-products_item-delete {
  display: flex;
  justify-content: center;
  padding: 4px 16px;
}

.cart_products-delete {
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  display: inline-block;
}

.cart_products-delete>svg {
  fill: #333;
  height: 32px;
  width: 24px;
  transition: 0.3s;
}

.cart_products-delete:hover>svg, .cart_products-delete:focus>svg {
  fill: #a9d860;
}

.product_price--cart {
  color: #05354d;
  font-size: 18px;
  font-weight: normal;
}

.cart-products_item-img {
  min-width: 200px;
}

.cart-products_item-img>img {
  max-width: 100%;
  border: 1px solid #d6d6d6;
}

.product_price--cart {
  margin-bottom: 8px;
}

.cart_summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.summary {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.summary_val-price {
  font-weight: bold;
  font-size: 18px;
  color: #04354d;
}

.cart_actions {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 8px 8px;
}

.cart_actions>.btn {
  margin-top: 4px;
  margin: 0;
}


/* Cart Popup */
.cart--popup {
  border-top: 2px solid #a9d860;
  width: 100%;
  top: 45px;
  left: 0px;
  font-size: 14px;
  position: absolute;
  z-index: 9999;
}

.cart-products_item-img--sm {
  max-width: 78px;
  min-width: 78px;
  margin: 0 8px;
}

.cart_actions--popup {
  margin-right: 0;
  padding-bottom: 0;
}

.cart-products_item-delete--popup {
  padding: 0 4px;
}

.cart-products_item-title--popup {
  margin-bottom: 0;
  font-size: 14px;
}

.cart-products_item--popup {
  flex-flow: row nowrap;
}

.cart-products_item-option--short {
  color: #a9d860;
  margin-bottom: 4px;
}

.cart-products_item-quantity {
  color: #a9d860;
  padding-right: 4px;
}

.cart-products_item-info--popup {
  align-items: center;
  border-right: 1px solid #d6d6d6;
  padding-right: 8px;
  padding-left: 0;
  flex-flow: row;
}

.cart_actions--popup {
  padding: 4px 0 0;
}

.summary--sm {
  width: 100%;
  box-sizing: border-box;
  padding: 0 8px;
  margin: 0 auto;
}

/* Checkout */
.container--space-top {
  margin-top: 8px;
}

.checkout-wrapper {
  background: #fff;
  padding: 8px;
}

.link--highlighted {
  color: #a9d860;
  text-decoration: underline;
  transition: 0.2s;
}

.link--highlighted:hover {
  color: #487107;
}

.checkout_grid {
  display: flex;
  flex-flow: column;
}

.checkout_col {
  margin-top: 24px;
}

.checkout_col:first-child {
  padding-left: 0;
}

.checkout_col:last-child {
  border-right: none;
  padding-right: 0;
}

.input>input[type="text"], .input--cc, .input>input[type="email"], .input>input[type="tel"] {
  height: 30px;
  width: 100%;
  padding: 8px;
  border: 2px solid #d6d6d6;
  outline: none;
  box-sizing: border-box;
  transition: 0.2s;
}

.input>input[type="text"]:focus, .input--cc:focus, .input>input[type="email"]:focus, .input>input[type="tel"]:focus {
  border: 2px solid #a9d860;
}

.input>input[type="text"]:focus:invalid, .input--cc:focus:invalid, .input>input[type="email"]:focus:invalid, .input>input[type="tel"]:focus:invalid {
  border: 2px solid #bb2f38;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 2px solid #d6d6d6;
  outline: none;
  box-sizing: border-box;
  transition: 0.2s;
}

textarea:focus {
  border: 2px solid #a9d860;
}

.textarea {
  margin-top: 10px;
}

.textarea>label {
  font-size: 14px;
  font-weight: normal;
}

.input {
  margin-top: 10px;
}

.input-group {
  display: flex;
  flex-flow: row wrap;
}

.input-group>.input {
  flex-basis: 50%;
  box-sizing: border-box;
}

.input-group>.input:nth-child(even) {
  padding-left: 8px;
}

.input>label {
  display: block;
  font-size: 14px;
  font-weight: normal;
}

.checkbox--block {
  padding: 0;
  display: block;
  margin-top: 10px;
}

.checkbox-default--filter {
  border-bottom: 1px solid #d3d3d3;
  padding: 4px 0 4px 8px;
  margin-top: 0;
}

.checkbox-default--filter>label {
  color: #333333;
}

.checkbox-default--long>label {
  line-height: 20px!important;
}

.checkout_actions {
  margin-top: 20px;
}

.cart-products_item-title--checkout {
  font-size: 16px;
  margin-bottom: 10px;
}

.summary--full {
  width: 100%;
  float: none;
  margin-right: 0;
}

.checkout_title--payment {
  margin-top: 28px;
}

.input--cc {
  margin: 5px 0;
}

.input--cc:first-child {
  margin-top: 0;
}

.input-group--cc {
  display: flex;
  flex-wrap: nowrap;
}

.input-group--cc>.input--cc {
  margin-bottom: 10px;
  margin-left: 10px;
}

.input-group--cc>.input--cc:first-child {
  margin-left: 0;
}

.input-group--cc>.input--cc:first-child {
  margin-top: 5px;
}

.checkout_cc {
  display: none;
  background: #efffdb;
  border: 2px solid #a9d860;
  padding: 8px;
  top: 44px;
  position: absolute;
  z-index: 2;
}

.checkout_cc::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 10px;
  width: 10px;
  height: 10px;
  background: #a9d860;
  transform: rotate(-45deg);
}

.checkout_cc::after {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 20px;
  height: 8px;
  background: #efffdb;
}

.checkout_cc-actions {
  flex-wrap: nowrap;
  display: flex;
}

.radio-long {
  display: flex;
  position: relative;
  padding: 0;
  margin: 4px 0;
}

.radio-long>input[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

.radio-long>input[type="radio"]:not(:checked) + label,
.radio-long>input[type="radio"]:checked + label {
  position: relative;
  padding-left: 40px;
  line-height: 30px;
  cursor: pointer;
  user-select: none;
  font-weight: normal;
}

.radio-long>input[type="radio"]:not(:checked) + label:before,
.radio-long>input[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 30px;
  height: 30px;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
  background: #fff;
}

.radio-long>input[type="radio"]:checked + label:before {
  border: 2px solid #d3d3d3;
}

.radio-long>input[type="radio"]:not(:checked) + label:after,
.radio-long>input[type="radio"]:checked + label:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #a9d860;
  transition: all .2s;
}

.radio-long>input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.radio-long>input[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.radio-long>input[type="radio"]:disabled:not(:checked) + label:before,
.radio-long>input[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.radio-long>input[type="radio"]:disabled:checked + label:after {
  color: #999;
}

.radio-long>input[type="radio"]:disabled + label {
  color: #aaa;
}

.radio--filter {
  border-bottom: 1px solid #d3d3d3;
  padding: 4px 0 4px 8px;
}

.radio--s>input[type="radio"]:not(:checked) + label,
.radio--s>input[type="radio"]:checked + label {
  padding-left: 36px;
}

.radio--s>input[type="radio"]:not(:checked) + label:before,
.radio--s>input[type="radio"]:checked + label:before {
  width: 24px;
  height: 24px;
}

.radio--s>input[type="radio"]:not(:checked) + label:after,
.radio--s>input[type="radio"]:checked + label:after {
  width: 16px;
  height: 16px;
}




/* Footer */
.footer {
  margin-top: 16px;
  border-top: 3px solid #a9d860;
  background: #fff;
}

.footer-container {
  padding: 0 8px;
  margin-top: 8px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.footer_block {
  display: block;
  margin-bottom: 16px;
}

.footer_block--wide {
  padding-left: 0;
}

.footer_header {
  color: #04344e;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 4px;
}

.footer_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_link {
  display: block;
  padding: 4px 0;
  color: #333;
}

.footer_link>a {
  color: inherit;
}

.contacts_item {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.contacts_item>svg {
  fill: #a9d860;
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin: 0 8px;
}

.highlight--green {
  padding-right: 4px;
  color: #a9d860;
}

.copyrights {
  background: #657fc9;
  color: #fff;
}

.copyrights-wrapper {
  padding: 8px 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.copyrights_copy, .copyrights_payments {
  padding: 2px 0;
}

/* Subscribe */
.subscribe--center {
  display: flex;
  justify-content: center;
}

.subscribe_form {
  display: flex;
}

.subscribe_input {
  line-height: 30px;
  padding: 0 0 0 8px;
  width: 180px;
  border: 1px solid #d3d3d3;
  border-right: none;
  box-sizing: content-box;
}

.subscribe_submit {
  height: 32px;
  padding: 0 20px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background: #a9d860;
  color: #fff;
  text-transform: uppercase;
  transition: .3s;
  display: inline-block;
}

.subscribe_submit:hover {
  background: #76A52D;
}


/* Landing Page */
.title_icon {
  margin-right: 8px;
  display: inherit;
}

.title_icon>svg {
  height: 24px;
  width: 24px;
  fill: #a9d860;
}

.info-block {
  margin-bottom: 20px;
}

.lp-tab--left>.title--block,
.lp-tab--left>.lp-tab_descr,
.lp-tab--left>.btn--lp {
  margin-left: 410px;
}


/* Flippers */
.flippers-wrapper {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 16px;
}
/* entire container, keeps perspective */
.flipper-container {
  margin: 8px 0;
  perspective: 1000px;
  display: block;
  position: relative;
}
/* flip the pane when hovered */
.flipper-container:hover .flipper, .flipper-container.hover .flipper {
  transform: rotateY(180deg);
}

.flipper-container, .flipper_front, .flipper_back {
  height: 220px;
  width: 300px;
}
/* flip speed goes here */
.flipper {
  color: #fff;
  text-align: center;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.flipper_front, .flipper_back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.flipper_front {
  background: #657fc9;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
/* back, initially hidden pane */
.flipper_back {
  background: #a9d860;
  transform: rotateY(180deg);
}

.flipper_header {
  text-align: center;
  font-size: 18px;
}

.flipper_icon {
  padding-top: 34px;
  padding-bottom: 16px;
}

.flipper_descr {
  font-size: 16px;
  padding: 8px;
  line-height: 1.2;
}

.flipper_back>.flipper_icon>img {
  max-height: 50px;
}

.flipper_back>.flipper_icon {
  padding-top: 16px;
  padding-bottom: 10px;
}

/* Links */
.link {
  display: block;
  color: #a9d860;
  font-size: 18px;
  text-decoration: underline;
  padding: 16px 0;
  transition: .3s;
}

/* List */
.list {
  padding: 8px;
  font-size: 18px;
  list-style: none;
}

.list_item:not(:last-child) {
  padding-bottom: 20px;
}

.list_item::before {
  content: '';
  width: 8px;
  height: 8px;
  background: #a9d860;
  border-radius: 50%;
  margin-right: 16px;
  transform: translate(0, -2px);
  display: inline-block;
}

/* Blog Preview */
.blog-preview-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.blog-preview_item {
  display: flex;
  box-sizing: border-box;
  padding: 0 8px 8px;
  flex-wrap: wrap;
  max-width: 50%;
  flex: 1 1 50%;
}

.blog-preview_item:nth-child(2n) {
  padding-right: 0;
}
.blog-preview_item:nth-last-child(n+1) {
  padding-left: 0;
}

.blog-preview {
  background: #fff;
  position: relative;
}

.blog-preview_header {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
}

.blog-preview_header:hover {
  color: #fff;
}

.blog-preview_image {
  width: 100%;
  z-index: 1;
}

.blog-preview_image>img {
  max-width: 100%;
}

.blog-preview_overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.blog-preview_descr {
  padding: 8px 8px 0 8px;
  line-height: 1.2;
}

.blog-preview_header-wrapper {
  align-items: center;
  position: relative;
  z-index: 2;
}



/*Responsive Embed*/
.responsive-embed {
  position: relative;
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}

.responsive-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Modal*/
.modal {
  background: rgba(211, 211, 211, 0.8);
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  transition: .3s;
}

.modal--active {
  opacity: 1;
  z-index: 2;
}

.modal_content {
  z-index: 3;
  position: relative;
  width: 90%;
  padding: 8px;
  background: #fff;
  border: 1px solid #d3d3d3;
  left: 50%;
  transform: translate(-50%, 10px);
}

.modal_footer--center {
  text-align: center;
}

.modal_footer>.btn {
  margin-bottom: 0;
}

.hash-nav {
  margin: 8px -4px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.hash-nav_item {
  margin: 4px;
}

.hash-nav_item-link:hover, .hash-nav_item-link:focus {
  text-decoration: none;
}

.hash-nav_item-link:hover>.product-full_thumb, .hash-nav_item-link:focus>.product-full_thumb {
  border: 1px solid #194358;
}

.hash-nav_item-link:hover>.product-full_thumb::before, .hash-nav_item-link:focus>.product-full_thumb::before {
  opacity: 0;
}

.carousel_item {
  position: relative;
}

.carousel_item--video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2,54,76,0.3);
  z-index: 2;
}

.product-full_thumb {
  position: relative;
  border: 1px solid #d6d6d6;
  transition: 0.3s;
}

.product-full_thumb::before {
  content: '';
  position: absolute;
  display: block;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(15, 161, 191, 0.2);
  transition: 0.3s;
}

.product-full_thumb--video::before {
  content: '';
  background: rgba(15, 161, 191, 0.5);
}

.product-full_thumb--video::after {
  content: '';
  position: absolute;
  background: url('../img/icon/video-small.png') 50% 50% no-repeat;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel_item-video-button {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url('../img/icon/video.png') 50% 50% no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.product_gallery {
  position: relative;
}

.product_gallery-photos {
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
}


/* Disabled  */
.main-menu_wrapper, .main-menu, .search, .categories, .cart-preview_info-title, .user, .jp-card-container { display: none; }

.search--mobile {
  margin: 8px auto;
  display: block;
  width: 300px;
}

.user--mobile {
  margin: 8px;
  display: flex;
}

.js-popup-inner { 
  display: none;
  background: #fff;
  border-top: 2px solid #a9d860;
  width: 100%;
  top: 45px;
  left: 0px;
  font-size: 14px;
  position: absolute;
  z-index: 9998;
}

.js-popup-inner--active {
  display: block;
}

.mobile-menu-popup {
  display: none;
  border: 1px solid #d3d3d3;
  border-top: 2px solid #a9d860;
  box-sizing: border-box;
}

.btn.js-popup-toggle {
  margin: 8px 0 0;
}

/*=============================================
=            Events            =
=============================================*/
.events_item {
  padding: 8px 0;
  border-bottom: 1px solid #d6d6d6;
}

.events_item:first-of-type {
  padding-top: 0;
}

.events_item:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.events_item--split {
  display: flex;
  flex-flow: column;
}

.events_item--s>.title--m {
  font-size: 20px;
}

.events_item--s>.title--s {
  font-size: 16px;
}

.events_img {
  text-align: center;
}

.events_img>a>img {
  object-fit: cover;
  height: 140px;
  margin-right: 16px;
  border: 1px solid #d3d3d3;
}
/*=====  End of Events  ======*/


/*=============================================
=            Homepage Old            =
=============================================*/
.magazine {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.magazine_preview {
  text-align: center;
}

.magazine_preview>img {
  max-width: 100%;
}

.wrapper-flex {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
}

.video-wrapper {
  width: calc(100% - 16px);
}

.video-wrapper>.responsive-embed {
  margin: 8px 0 0;
}

.features-scroll_wrapper {
  width: calc(100% - 16px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  padding: 0 8px;
  background: rgba(255, 255, 255, 0.8);
}

.feature {
  padding: 8px;
  /* border-bottom: 1px solid #d3d3d3 !important; */
  display: flex !important;
  align-items: flex-start;
}

.feature:last-child {
  border-bottom: none !important;
}

.feature_image {
  padding: 8px;
  margin-right: 8px;
  background: #657fc9;
}

.feature_image>img {
  width: 48px;
  height: 48px;
}

.features-scroll_control {
  padding-bottom: 8px;
}
/*=====  End of Homepage Old  ======*/


/*=============================================
=            Business Page            =
=============================================*/
#js-gmap {
  width: 100%;
  height: 200px;
}

.business-descr_tabs {
  width: 100%;
}

.business-descr {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
}

.business-descr_img {
  max-width: 100%;
}

.block--sidebar>.contacts {
  max-width: 300px;
}

.block--divided>.container {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  flex-direction: column-reverse;
}

.link--simple {
  display: inline-block;
  padding: 0;
  font-size: 16px;
}

.verified {
  text-align: center;
  margin-bottom: 16px;
}

.verified_img {
  width: 200px;
}


/*----------  Reviews  ----------*/
.review-form {
  max-width: 300px;
}

.rating--review {
  margin-top: 0;
}

.reviews_item {
  display: flex;
  align-items: flex-start;
  margin: 16px 0;
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 16px;
}

.reviews_item:first-of-type {
  margin-top: 0;
}

.reviews_photo>img {
  width: 84px;
  border: 3px solid #a9d860;
  margin-right: 8px;
}

.reviews_name {
  font-weight: 500;
  font-size: 18px;
  color: #04344e;
}

.reviews_date {
  color: #d4d4d4;
  font-size: 15px;
}


/*----------  Gallery  ----------*/
.gallery {
  overflow: hidden;
}

.gallery_img {
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.gallery_descr {
  display: block;
  color: #04344e;
  margin: 8px 0;
  line-height: 1.2;
}

.gallery>.owl-stage-outer{
  width:calc(320px - 100px);
  margin: 0 auto;
}
/*----------  Working hours  ----------*/
.hours_item {
  display: flex;
  padding: 8px;
  font-size: 18px;
}

.hours_item--active {
  background: #a9d860;
  color: #fff;
}

.hours_day {
  width: 120px;
}

.time {
  display: flex;
  justify-content: space-between;
}

.time_from {
  display: flex;
  align-items: center;
  border-right: 1px solid #d6d6d6;
  padding-right: 8px;
}

.time_to {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.time_mid {
  display: inline-block;
  background: #657fc9;
  color: #fff;
  vertical-align: middle;
  padding: 0 4px;
  margin: 0 0 0 4px;
  text-transform: uppercase;
  font-size: 12px;
}

/*=====  End of Business Page  ======*/

/*----------  Videos  ----------*/
.videos {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.videos_item {
  padding: 8px 0 0 0;
  box-sizing: border-box;
  border-bottom: 1px solid #d4d4d4;
}

.videos_item:last-child {
  border-bottom: none;
}
